.app {
  display: flex;
}
.container {
  max-width: 90vw;
  max-height: 90vh;
  width: auto;
  margin: 3vh auto;
  height: 60vh;
}

.carousel {
  height: 100%;
  width: auto;
  display: flex;
  position: relative;
}
